In [1]:
import pandas as pd

In [2]:
data = [
    ['คีย์บอร์ด','อุปกรณ์คอม',1200],
    ['ตุ๊กตา','ของเล่น',900],
    ['Iphone','มือถือ',350000]
]
cols = ['Name','Category','Price']

df = pd.DataFrame(data,columns=cols)

In [3]:
df

        Name    Category   Price
0  คีย์บอร์ด  อุปกรณ์คอม    1200
1     ตุ๊กตา     ของเล่น     900
2     Iphone      มือถือ  350000