In [7]:
import pandas as pd

In [8]:
item1 = ['คีย์บอร์ด','ตุ๊กตา','Iphone']
item2 = ['IT','ของเล่น','IT']
item3 = [1200,900,35000]

In [9]:
data = list(zip(item1,item2,item3))

In [10]:
cols = ['Name','Category','Price']

In [12]:
df = pd.DataFrame(data,columns=cols)

In [13]:
df

        Name Category  Price
0  คีย์บอร์ด       IT   1200
1     ตุ๊กตา  ของเล่น    900
2     Iphone       IT  35000