In [1]:
import pandas as pd

name = ['คีย์บอร์ด','ตุ๊กตา','Iphone14']
category = ['อุปกรณ์คอม','ของเล่น','มือถือ']
price = [1200,900,35000]

names = pd.Series(name)
category = pd.Series(category)
price = pd.Series(price)

frame = {
    'Name':names,
    'Category':category,
    'Price':price
}

df = pd.DataFrame(frame)

df

        Name    Category  Price
0  คีย์บอร์ด  อุปกรณ์คอม   1200
1     ตุ๊กตา     ของเล่น    900
2   Iphone14      มือถือ  35000

In [2]:
df.to_csv('data_result/df.csv')

In [4]:
df.to_csv('data_result/df_noindex.csv',header=True,index=False)

In [5]:
df.to_csv('data_result/df_noheader.csv',header=False,index=True)

In [6]:
df.to_csv('data_result/df_noheader_noindex.csv',header=False,index=False)