In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('data_result/dataupdate.xlsx','score',index_col='Name')

In [5]:
df

           Score  Age Gender Grade
Name
อาทิตย์       90   20    ชาย     A
นิตยา         75   18   หญิง     B
โจโจ้         88   22    ชาย     A
แก้มใส        65   19   หญิง     C
ตั๊กแตน       82   23   หญิง     D
เก๋ไก๋        50   20   หญิง     A
วุฒิชัย       45   17    ชาย     F
ชัยสิทธิ์     62   18    ชาย     C
ธนาวุฒิ       95   19    ชาย     A

In [6]:
# ดูคะแนนทางสถิติ
df.Score

Name
อาทิตย์      90
นิตยา        75
โจโจ้        88
แก้มใส       65
ตั๊กแตน      82
เก๋ไก๋       50
วุฒิชัย      45
ชัยสิทธิ์    62
ธนาวุฒิ      95
Name: Score, dtype: int64

In [7]:
df.Score.max()

95

In [8]:
df.Score.min()

45

In [9]:
df.Score.mean()

72.44444444444444

In [10]:
df.Score.std()

17.95209675157133

In [11]:
df.Score.count()

9

In [12]:
df.Score.sum()

652

In [14]:
df.Score.sum()/df.Score.count()

72.44444444444444

In [15]:
df.dtypes

Score      int64
Age        int64
Gender    object
Grade     object
dtype: object

In [16]:
# แปลงชนิดของข้อมูล
df.Grade = df.Grade.astype('category')

In [17]:
df.dtypes

Score        int64
Age          int64
Gender      object
Grade     category
dtype: object