In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data_result/df_noheader.csv',encoding='utf-8')

In [5]:
df

   0 คีย์บอร์ด อุปกรณ์คอม   1200
0  1    ตุ๊กตา    ของเล่น    900
1  2  Iphone14     มือถือ  35000

In [6]:
colsName = ['Name','Category','Price']

In [7]:
df = pd.read_csv('data_result/df_noheader.csv',encoding='utf-8',names=colsName)

In [8]:
df

        Name    Category  Price
0  คีย์บอร์ด  อุปกรณ์คอม   1200
1     ตุ๊กตา     ของเล่น    900
2   Iphone14      มือถือ  35000