In [1]:
# สร้าง Series จาก List และ Tuple
import pandas as pd

In [2]:
data_ls = [10,20,30,"john tik","arsenal",True]

In [3]:
data_ls

[10, 20, 30, 'john tik', 'arsenal', True]

In [4]:
pd.Series(data_ls)

0          10
1          20
2          30
3    john tik
4     arsenal
5        True
dtype: object

In [5]:
ps = pd.Series(data_ls)

In [6]:
ps

0          10
1          20
2          30
3    john tik
4     arsenal
5        True
dtype: object

In [7]:
## สร้างจาก Tuple
data_tp = (10,20,30,"john tik","arsenal","python",True)

In [8]:
pd.Series(data_tp)

0          10
1          20
2          30
3    john tik
4     arsenal
5      python
6        True
dtype: object

In [9]:
ps_tp = pd.Series(data_tp)

In [ ]:
ps_tp