In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data_result/dataupdate.xlsx','weather',index_col='Day')

In [3]:
df.loc[(df.Event == "เมฆมาก") | (df.Temperature <= 18)]

            Temperature  WindSpeed   Event
Day
2020-12-02           28          8  เมฆมาก
2020-12-05           20          5  เมฆมาก
2020-12-09           17          5  เมฆมาก
2020-12-14           31          5  เมฆมาก
2020-12-18           18          5    ฝนตก
2020-12-20           28          4  เมฆมาก
2020-12-21           25          5  เมฆมาก
2020-12-22           38          2  เมฆมาก
2020-12-27           28          9  เมฆมาก
2020-12-28           30          2  เมฆมาก

In [6]:
df.loc[(df.Temperature.isin([18,20,25,35,31]))]

            Temperature  WindSpeed    Event
Day
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-14           31          5   เมฆมาก
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-21           25          5   เมฆมาก
2020-12-26           25          8     ฝนตก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [7]:
df.loc[(df.Temperature.isin([35]))]

            Temperature  WindSpeed Event
Day
2020-12-30           35          2  ฝนตก

In [8]:
df.loc[(df.Temperature.isin([20,35]))]

            Temperature  WindSpeed   Event
Day
2020-12-05           20          5  เมฆมาก
2020-12-17           20          8    ฝนตก
2020-12-30           35          2    ฝนตก

In [16]:
df.loc[(df.Temperature.isin([25,30]))][df.Event=="แดดร้อน"]

C:\Users\USER\AppData\Local\Temp\ipykernel_13140\601139001.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.loc[(df.Temperature.isin([25,30]))][df.Event=="แดดร้อน"]

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-19           25          7  แดดร้อน