In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data_result/Stock.xlsx',index_col='Name')

In [3]:
df

                             Category  Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
ปากกา                 อุปกรณ์การเรียน    200       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เสื้อยืดคอกลม                เสื้อผ้า    500       2
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
โซฟา                     เฟอร์นิเจอร์   5000       5
จาน                       เครื่องครัว    250       4
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ยางลบ                 อุปกรณ์การเรียน     20       5
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
รถบังคับ                      ของเล่น    500       6

In [5]:
df.sum(axis=0)

Category    อุปกรณ์คอมพิวเตอร์อุปกรณ์การเรียนเครื่องใช้ในบ...
Price                                                   33119
Amount                                                     77
dtype: object

In [8]:
df = df[['Amount','Price']]

In [9]:
df.sum(axis=1)

Name
เมาส์                  910
ปากกา                  205
โคมไฟ                 1207
ไมโครโฟน               751
เครื่องซักผ้า         3500
เสื้อยืดคอกลม          502
กางเกงยีนต์           1007
ตุ๊กตาหมีพูห์          955
โซฟา                  5005
จาน                    254
ทีวี                 15007
ยางลบ                   25
External HardDisk     2507
คีย์บอร์ด              855
รถบังคับ               506
dtype: int64

In [10]:
df['total'] = df["Price"] * df['Amount']

In [11]:
df

                   Amount  Price   total
Name
เมาส์                  10    900    9000
ปากกา                   5    200    1000
โคมไฟ                   7   1200    8400
ไมโครโฟน                1    750     750
เครื่องซักผ้า           0   3500       0
เสื้อยืดคอกลม           2    500    1000
กางเกงยีนต์             8    999    7992
ตุ๊กตาหมีพูห์           5    950    4750
โซฟา                    5   5000   25000
จาน                     4    250    1000
ทีวี                    7  15000  105000
ยางลบ                   5     20     100
External HardDisk       7   2500   17500
คีย์บอร์ด               5    850    4250
รถบังคับ                6    500    3000

In [12]:
df.sum(axis=0)

Amount        77
Price      33119
total     188742
dtype: int64